*, *::after, *::before {
	box-sizing: border-box;
  }
  
  :root {
	--hue: 200;
	--saturation: 50%;
	--foreground-color: hsl(var(--hue), var(--saturation), 75%);
	--background-color: hsl(var(--hue), var(--saturation), 20%);
  }
  
  body {
	margin: 0;
	/* background-color: var(--background-color); */
	background-color: #2c2a2d;
	overflow: hidden;
  }
  
  .paddle {
	--position: 50;
  
	position: absolute;
	/* background-color: var(--foreground-color);  */
	background-color: transparent;
	border: 4px solid #13ecb6;
	top: calc(var(--position) * 1vh);
	transform: translateY(-50%);
	width: 2vh;
	height: 15vh;
	
  }
  
  .paddle.left {
	left: 1vw;
  }
  
  .paddle.right {
	right: 1vw;
  }
  
  .ball {
	--x: 50;
	--y: 50;
  
	position: absolute;
	/* background-color: var(--foreground-color); */
	/* background-color: #13ecb6; */
	border: 4px solid #13ecb6;
	left: calc(var(--x) * 1vw);
	top: calc(var(--y) * 1vh);
	border-radius: 50%;
	transform: translate(-50%, -50%);
	width: 2.5vh;
	height:2.5vh;
  }
  
  .score {
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-size: 7vh;
	/* color: var(--foreground-color); */
	color: #13ecb6;

  }
  
  .score > * {
	flex-grow: 1;
	flex-basis: 0;
	padding: 0 2vh;
	margin: 1vh 0;
	opacity: .5;
  }
  
  .score > :first-child {
	text-align: right;
	border-right: .5vh solid #13ecb6;
  }