*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
html{
	scroll-behavior: smooth;
}
a{
	height: fit-content;
	width: fit-content;
	text-decoration: none;
	color: blue;
}
li{
	list-style: none;
}
:root{
	--outline-red: 1px solid red;
	--outline-blue: 1px solid blue;


	--color-black: #282A35;
	--color-green: #4CAF50;
}
img{
	height: 100px;
	width: 100px;
}
section{
	min-height: 100vh ;
	min-width: 100%;
	/*outline: var(--outline-blue);*/
	background: #fff;	
	padding: 80px 50px 0px 50px;

}
body{
	/*background: rgb(2,0,36);*/
	/*background: linear-gradient(180deg, rgba(9,150,255,1) 0%, rgba(0,212,255,1) 100%);*/
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
 -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-black);
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  /*border-radius: 20px;*/
  border: 1px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

















 /*  Nav Bar */

.mobNav{
	display: none;
}





main nav{
	width: 100%;
	height: 80px;
	display: flex;
	position: fixed;
	transition: .3s;
	background: var(--color-black);
	z-index: 9999;
	border-bottom: 1px solid rgba(220, 220, 220, .2);
}
main nav.active{
	height: 50px;
}
main nav ul{
	width: 33.3333%;
	height: 100%;
	display: flex;
	/*outline: var(--outline-blue);*/
}
main nav ul li{
	position: relative;
	/*color: #2196f3;*/
	color: #ccc;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
}
main nav ul:nth-child(1){
	align-items: center;
	display: flex;
	justify-content: left;
}
main nav ul:nth-child(1) li{
	margin: 0px 0px 0px 50px;
	letter-spacing: 2px;
	font-weight: 600;
	font-size: 30px;
	color: var(--color-green);
}
main nav ul:nth-child(2){
	align-items: center;
	justify-content: space-between;
}
main nav ul:nth-child(2) li{
	/*outline: var(--outline-red);*/
	font-size: 20px;
	font-weight: 10;
	padding: 5px 0px 5px 0px;
}

main nav ul:nth-child(3){
	padding: 0px 50px 0px 0px;
	align-items: center;
	flex-direction: row-reverse;

}
.userImgBx{
	outline: var(black);
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background: var(--color-green);
	transition: 0.2s;
	overflow: hidden;
}
.userImgBx img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width:  100%;
	height: 100%;
}
.userImgBx:hover{
	transform: scale(1.1);
}
.userImgBx .fa-user{
	/*background: red;*/
	height: 40px;
	width: 40px;
	font-size: 20px;
	font-weight: 700;
	display: grid;
	place-items: center;
	color: white;
}	
.navLogin-btn{	
	margin: 0px 10px 0px 0px;
	height: 40px;
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}
.navBorder{
	width: 0%;
	height: 3px;
	background: var(--color-green);
	z-index: 10000000;
	transition: 0.4s;
	transform-origin: center;
}
.navBorder.btm{
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.navBorder.up{
	position: absolute;
	top: 0px;
	right: 0px;
}
main nav ul a li:hover .navBorder{
	width: 100%;
}















	/*edit*/
body .edit {

}
body .edit h1{
	color: black;
	/*outline: var(--outline-red);*/
	text-align: center;
	width: fit-content;
	margin: 50px auto 0px auto;
	border-bottom: 2px solid black;

}


body .edit .conBx1{
	/*outline: var(--outline-red);*/
	margin: 20px auto 0px auto;
	width: 100%;
	height: fit-content;
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 10px 102px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
body .edit .conBx1 .btnBx{
	/*outline: var(--outline-red);*/
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column-reverse;

}
body .edit .conBx1 .btnBx a button{
	width: 250px;
	height: 70px;
	margin: 20px;
	/*padding: 20px;*/
    outline: none;
    text-align: justify-all;
    /*padding: 10px;*/
    background-color: var(--color-green);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 22px;
	outline: none;
	border: none;
	/*text-transform: uppercase;*/
}

body .edit .conBx1 .btnBx a button i{
	font-weight: 100;
	margin: 0px 0px 0px 10px;
}
body .edit .conBx1 .btnBx a button .fa-trash{
	font-weight: 550;
} 
body .edit .conBx1 .btnBx a .btn-delete{
	background-color: rgba(255, 0, 0, .6);
}
body .edit .conBx1 .btnBx a .btn-delete:hover{
	background-color: white;
	color: rgba(255, 0, 0, .6);
	outline: 2px solid  rgba(255, 0, 0, .6);
}
body .edit .conBx1 .btnBx a .btn-edit:hover{
	background-color: white;
	color: var(--color-green);
	outline: 2px solid  var(--color-green);
}
body .edit .conBx1 h4{
	text-align: center;
	/*text-transform: uppercase;*/
	letter-spacing: 1px;
	/*outline: var(--outline-red);*/
	width: 200px;
	margin: 0px auto 20px auto;
}
body .edit .conBx1 .imgBx{
	width: 200px;
	height: 200px;
	background: url(https://www.admitoffer.com/images/site/user-img.png);
	background-size: cover;
	background-position: center;
	/*outline: var(--outline-red);*/
	outline: 3px solid var(--color-green);
	border-radius: 100%;
	margin: 20px auto 20px auto;
	overflow: hidden;

}
body .edit .conBx1 .imgBx img{
	height: 100%;
	width: 100%;
}
body .edit .conBx{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
	margin: 50px 0px 50px 0px;
}

body .edit .conBx .txtBx{
	min-width: 100%;
	height: fit-content;
	color: blue;
	/*outline: var(--outline-blue);*/
	outline: 1px solid var(--color-green);
	border-radius: 10px;
	/*background: var(--color-green);*/
}
body .edit .conBx .txtBx h4{
	margin: 20px;
	color: black;
	width: fit-content;
	text-transform: uppercase;
	font-size: 1.4em;
	color: var(--color-black);
}

body .edit form .inp{
	border: none;
	outline: 2px solid gray;
	width: 60%;
	margin: 10px 0px 20px 40px;
	height: 50px;
	font-size: 1.5em;
	padding: 0px 20px 0px 20px;
	border-radius: 10px;
	/*background: var(--color-black);*/
	/*color: #fff;*/
}
body .edit form .inp:focus{
	outline: 2px solid var(--color-green);

}
body .edit form input[type="file"]{
	outline: none;
	padding: 20px;
	border-radius: 0px;
	height: fit-content;
}
body .edit form #imgBx{
	display: flex;
	align-items: center;
	flex-direction: column;
}
body .edit form .submit{
	/*outline: var(--outline-blue);*/
	margin: 0px 0px 40px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}
body .edit form .submit input{
	width: 250px;
	height: 70px;
	/*margin: 20px;*/
	/*padding: 20px;*/
    outline: none;
    text-align: justify-all;
    /*padding: 10px;*/
    background-color: var(--color-green);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 22px;
	outline: none;
	border: none;
	/*text-transform: uppercase;*/
}
body .edit form .submit input:hover{
	background-color: white;
	color: var(--color-green);
	outline: 2px solid  var(--color-green);
}
body .edit form select:focus option:nth-child(1){
	display: none;
}























.copyright{
	background: #000;
	color: #fff;
	text-align: center;
	padding: 10px;
}


































	/*responsive-part*/

		/*tabview*/

@media (max-width: 850px){
	.maincon{
		grid-template-columns: repeat(1, 1fr);
		padding: 0px;
	}
	.maincon .conBx{
		width: 100%;
	}
	.maincon .conBx .imgBx .txtBx h2{
		font-size: 30px;
	}
	.crslogo{
		height: 25px;
		width: 25px;
	}
	.maincon .conBx .imgBx .txtBx p{
		letter-spacing: 0px;
		padding: 10px;
		margin: 0px;
	}
	.content{
		flex-direction: column;
	}

	body .edit .conBx1,
	body .edit .conBx {
		grid-template-columns: repeat(1, 1fr);

	}
}






	/*mobile*/


@media (max-width: 750px){
	main nav{
		display: none;
	}
	.mobNav{
		display: flex;
		flex-direction: column;
		/*outline: var(--outline-red);*/
		height: 80px;
		position: fixed;
		width: 100vw;
		display: flex;
		background: var(--color-black);
		z-index: 10000;
	}
	.mobNav ul:nth-child(2){
		display: none;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background: var(--color-black);
		text-align: center;
		height: fit-content;
	}
	.mobNav ul:nth-child(2) a li{
		width: 100vw;
	}
	.mobNav ul:nth-child(2) a{
		text-align: center;
		width: 100%;
		padding: 20px 0px 20px 0px;
		border-bottom: 1px solid black;
	}
	.mobNav ul{
		width: 100%;
		height: 100%;
		display: flex;
	}
	.mobNav ul li{
		width: 33.3333%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
	}
	.mobNav ul li a{
		color: white;
	}
	.mobNav ul li .imgBx{
		width: 40px;
		height: 40px;
		background: var(--color-green);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		margin: 10px;

	}
	.mobNav ul li .imgBx i{
		font-size: 20px;
		color: white;
		font-weight: 1000;

	}
	.mobNav ul li:nth-child(1){
		font-size: 30px;
	}
	.mobNav ul li:nth-child(1) a{
		color: var(--color-green);
		font-weight: 700;
		letter-spacing: 2px;
	}
	.mobNav ul li:nth-child(2){
		font-size: 40px;
	}
	.mobNav ul li:nth-child(3){
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.mobNav ul li:nth-child(3) a{
		font-size: 20px;
	}
	.mobNav ul:nth-child(2).active{
		display: flex;
	}
	.about p{
		margin: 0;
	}
}
