body
{
	background-color: lightblue;
}
.button
{

	text-align: center;
	margin-top: 5%;
	margin-left: 45%;
	border: 1px solid black;
	height: 50px;
	width: 150px;

}
.btn
{
	border-radius: 5%;
	height: 30px;
	width: 70px;
	text-align: left;
	margin-top: 8px;
	font-weight: bold;
	text-align: center;
	border:2px;
	outline: none;
	box-shadow: rgba(6,6,6,);
	background-color: transparent;
}
.btn:hover
{
	background-color: green;
	opacity: 0.7;
	box-shadow: 4px 4px 4px black;
	color: white;
}
.btn:focus
{
	opacity: 1;
	box-shadow: 3px 3px 3px gray;
}	