		.body
		{
			background-image: url('../image/background.jpg');
			background-repeat: no-repeat;
			background-size: cover;
		}
		.form-main
		{
			border: 2px solid black;
			width: 30%;
			margin-top: 12% !important;
			margin: auto;
			padding: 10px;
			background-color: rgba(0,0,0,0.3);
			box-shadow: 10px 10px 10px #666;
			border-radius: 5px;
			border-top-left-radius: 25px;
			border-bottom-right-radius: 25px;
		}
		#heading
		{
			text-align: center;
			font-size: 36px;
			font-weight: bold;
			font-style: italic;
			text-decoration: underline;
			color: #ffffff;
			text-shadow: 3px 3px 3px blue;
			margin-bottom: 10px;
		}
		.form-element-group
		{
			margin-bottom: 10px;
		}
		.form-main .form-element-group label
		{
			font-weight: bold;
			font-size: 18px;
			color: white;
			font-style: italic;
		}
		req
		{
			color: red;
		}
		input[type="text"]
		{
			width: 95.5%;
			/*padding-top: 6px;
			padding-bottom: 6px;
			padding-right: 8px;
			padding-left: 8px;*/
			padding: 6px 8px;
			background-color: transparent;
			border: none;
			border-bottom: 2px solid #666;
			outline: none;
			color: white;
			font-size: 18px;
			text-transform: lowercase;
		}
		.fl-left
		{
			float: left;
			width: 90%;
		}
		.fl-right
		{
			float: right;
		}
		.fl-clear
		{
			clear: both;
		}

		input[type="password"]
		{
			width: 100%;
			padding: 6px 8px;
			background-color: transparent;
			border: none;
			border-bottom: 2px solid #666;
			outline: none;
			color: white;
			font-size: 18px;
		}
		.btn-pass
		{
			background-color: transparent;
			border: none;
			outline: none;
			cursor: pointer;
			padding: 6px;
			font-size: 18px;
			color: #fff;
		}
		input[type="text"]:focus, input[type="password"]:focus
		{
			border-bottom-color: #fff;
		}
		.btn
		{
			padding: 10px 14px;
			border: 2px solid #000;
			color: white;
			font-weight: bold;
			font-size: 18px;
			outline: none;
			font-style: italic;
			border-radius: 10px;
		}
		.btn-back
		{
			background-color: red;
		}
		.btn-submit
		{
			background-color: green;
			margin-right: 15px;
			opacity: 1;
		}
		.btn-align-center
		{
			text-align: center;
		}
		.btn-submit:hover
		{
			background-color: darkgreen;
			opacity: 0.5;
		}
		.btn-back:hover
		{
			background-color: darkred;
		}