nav{
	padding: 20px;
	margin-bottom: 30px;
}
nav input{
	height: 40px;
	border: none;
	outline: none;
}
#search{
	padding: 0px 0px 0px 20px;
}
a{
	text-decoration: none;
}
.navbar-brand{
	font-size: 30px;
}
.navbar-text{
	font-size: 20px;
}
.login-form input{
	outline: 2px solid lightgray;
}

.navbar{
	position: fixed;
	width: 100%;
	top: 0px;
	background: lightgray;
	z-index: 100000;
}
body{
	padding: 140px 0px 0px 0px ;
}











.page-item a{
	/*background: lightgray;*/
	padding: 10px 20px 10px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: 1px solid lightgray;
}
.page-item a:hover{
	background: lightgray;
}
.page-item.active{
	background: #1a1a1a;
	outline: none;

}












.btn.btn-secondary{
	background: rgba(0, 0, 0, .2);
	color: gray;
}
.d-flex{
	margin: 0px 0px 0px 30px;
}
.btn-close{
	position: absolute;
	right: 15px;
	top: 15px;
}




.artimgBx{
	max-width: 100%;
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: center;

}
.artimg{
	width: 80%;
	box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, .5);
}







@media only screen and (max-width: 550px) {
  body {
    padding: 200px 0px 0px 0px;
  }
}
@media only screen and (max-width: 300px) {
  body {
    padding: 300px 0px 0px 0px;
  }
}







