@keyframes box
{
	20%
	{
		color: #008080;
	}
	40%
	{
		color: #1f7a1f;
	}
	60%
	{
		color: #90236b;
	}
	80%
	{
		color: #b38600;
	}
}


@keyframes A 
{
	0%
	{
		

	}
	20%
	{
		transform: rotate(90deg);
	}
	40%
	{
		transform: rotate(180deg);
	}
	60%
	{
		transform: rotate(270deg);
	}
	80%
	{
		transform: rotate(360deg);
	}
	100%
	{
		
	}
}

@keyframes a
{
	0%
	{
		top: 30px;
		left:30px;
	}
	20%
	{
		transform: rotate(90deg);
		top: 110px;
		left: 110px;
	}
	40%
	{
		transform: rotate(180deg);
		top: 90px;
		left: 90px;
	}
	60%
	{
		transform: rotate(270deg);
		top: 70px;
		left: 70px;
	}
	80%
	{
		transform: rotate(360deg);
		top: 50px;
		left: 50px;
	}
	100%
	{
		top: 30px;
		left: 30px;
	}
}

@keyframes b
{
	0%
	{
		bottom:30px;
		left:30px;
	}
	20%
	{
		transform: rotate(90deg);
		bottom:110px;
		left: 110px;
	}
	40%
	{
		transform: rotate(180deg);
		bottom:90px;
		left: 90px;
	}
	60%
	{
		transform: rotate(270deg);
		bottom:70px;
		left: 70px;
	}
	80%
	{
		transform: rotate(360deg);
		bottom:50px;
		left: 50px;
	}
	100%
	{
		bottom:30px;
		left: 30px;
	}
}

@keyframes c
{
	0%
	{
		bottom: 30px;
		right:30px;
	}
	20%
	{
		transform: rotate(90deg);
		bottom:  110px;
		right:  110px;
	}
	40%
	{
		transform: rotate(180deg);
		bottom:  90px;
		right:  90px;
	}
	60%
	{
		transform: rotate(270deg);
		bottom:  70px;
		right:  70px;
	}
	80%
	{
		transform: rotate(360deg);
		bottom:  50px;
		right:  50px;
	}
	100%
	{
		bottom:  30px;
		right:  30px;
	}
}

@keyframes d
{
	0%
	{
		top: 30px;
		right: 30px;
	}
	20%
	{
		transform: rotate(90deg);
		top: 110px;
		right:  110px;
	}
	40%
	{
		transform: rotate(180deg);
		top: 90px;
		right:  90px;
	}
	60%
	{
		transform: rotate(270deg);
		top: 70px;
		right:  70px;
	}
	80%
	{
		transform: rotate(360deg);
		top: 50px;
		right:  50px;
	}
	100%
	{
		top: 30px;
		right:  30px;
	}
}