*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: grid;
	place-items: center;
	min-height: 100vh;
	background: black;
}

.content{
	width: 100%;
	height: 300px;
	/*border: 1px solid gray;*/
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box{
	position: relative;
	height: 15px;
	width: 5px;
	border: 1px solid #3586ff;
	background: #3586ff;
	margin: 0px 10px;
	border-radius: 20px;
	animation-iteration-count: infinite;
	animation-duration: 1.2s;
	transform-origin: center;
	animation-timing-function: ease-in-out;
}

.box1{
	animation-name: box1;
	animation-delay: 0.0s;
}
.box2{
	animation-name: box2;
	animation-delay: 0.1s;
}
.box3{
	animation-name: box3;
	animation-delay: 0.2s;
}
.box4{
	animation-name: box4;
	animation-delay: 0.3s;
}
.box5{
	animation-name: box5;
	animation-delay: 0.4s;
}
.box6{
	animation-name: box6;
	animation-delay: 0.5s;
}
.box7{
	animation-name: box7;
	animation-delay: 0.6s;
}
.box8{
	animation-name: box8;
	animation-delay: 0.7s;
}
.box9{
	animation-name: box9;
	animation-delay: 0.8s;
}
.box10{
	animation-name: box10;
	animation-delay: 0.9s;
}
.box11{
	animation-name: box11;
	animation-delay: 1.0s;
}
.box12{
	animation-name: box12;
	animation-delay: 1.1s;
}
.box13{
	animation-name: box13;
	animation-delay: 1.2s;
}
.box14{
	animation-name: box14;
	animation-delay: 1.3s;
}
.box15{
	animation-name: box15;
	animation-delay: 1.4s;
}
.box16{
	animation-name: box16;
	animation-delay: 1.5s;
}
/*.box17{
	animation-name: box17;
	animation-delay: 1.6s;
}
.box18{
	animation-name: box18;
	animation-delay: 1.7s;
}
.box19{
	animation-name: box19;
	animation-delay: 1.8s;
}
.box20{
	animation-name: box20;
	animation-delay: 1.9s;
}
.box21{
	animation-name: box21;
	animation-delay: 2.0s;
}
.box22{
	animation-name: box22;
	animation-delay: 2.1s;
}
.box23{
	animation-name: box23;
	animation-delay: 2.2s;
}
.box24{
	animation-name: box24;
	animation-delay: 2.3s;
}
.box25{
	animation-name: box25;
	animation-delay: 2.4s;
}
.box26{
	animation-name: box26;
	animation-delay: 2.5s;
}
.box27{
	animation-name: box27;
	animation-delay: 2.6s;
}
.box28{
	animation-name: box28;
	animation-delay: 2.7s;
}
.box29{
	animation-name: box29;
	animation-delay: 2.8s;
}
.box29{
	animation-name: box29;
	animation-delay: 2.9s;
}
.box30{
	animation-name: box30;
	animation-delay: 3.0s;
}
*/


@keyframes box1 {

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}
@keyframes box2 {

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}
@keyframes box3 {

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}
@keyframes box4 {

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}
@keyframes box5 {

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}
@keyframes box6 {

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}
@keyframes box7{

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}
@keyframes box8{

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}
@keyframes box9{

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}
@keyframes box10{

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}
@keyframes box11{

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}
@keyframes box12{

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}
@keyframes box13{

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}
@keyframes box14{

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}
@keyframes box15{

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}
/*@keyframes box16{

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}
@keyframes box17{

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}
@keyframes box18{

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}
@keyframes box19{

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}
@keyframes box20{

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}
@keyframes box21{

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}
@keyframes box22{

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}
@keyframes box23{

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}
@keyframes box24{

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}
@keyframes box25{

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}
@keyframes box26{

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}
@keyframes box27{

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}
@keyframes box28{

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}
@keyframes box29{

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}
@keyframes box30{

	0%{
		height: 15px;
	}
	50%{
		height: 280px;
	}
	100%{
		height: 15px;
	}
}*/